<article>
<h2>Site Settings</h2>
<h4>Important:</h4>
<p>This page will allow you to modify how your site appears in search
 engines.  It will also allow you to switch your site layout.</p>
<p>Any misinformation could be devastating for your site, so please be as accurate
 as possible prior to submitting your information.</p>

<h5>Search Engine Optimization</h5>
<form action="/admin/settings/save" method="post" class="form">
<label for="name">Name:</label><br />
<input type="text" name="name"  value="<%= information.name %>"><br /><br />
<label for="tagline">Tag Line:</label><br />
<input type="text" name="tagline"  value="<%= information.tagline %>"><br /><br />
<label for="author">Author:</label><br />
<input type="text" name="author"  value="<%= information.author %>"><br /><br />
<label for="description">Description:</label><br />
<textarea type="text" name="description" ><%= information.meta_description %></textarea><br /><br />
<label for="keywords">Keywords:</label><br />
<textarea type="text" name="keywords" ><%= information.meta_keywords %></textarea><br /><br />
<input type="submit" value="Save">
</form>
<br />
</article>