<h2>Edit Post:</h2>
<form action="/posts/<%= @post.id %>/edit" method="post" class="form">
<label for="title">Title:</label><br />
<input type="text" name="title" value="<%= @post.title %>"><br /><br />
<label for="author">Author:</label><br />
<input type="text" name="author" value="<%= @post.author %>"><br /><br />
<label for="category">Category</label><br />
<input type="text" name="category" value="<%= @category.name %>"><br /><br />
<label for="summary">Summary:</label><br />
<textarea type="text" name="summary" data-rte="{toolbar: 'basic'}"><%= @post.summary %></textarea><br /><br />
<label for="body">Body:</label><br />
<textarea type="text" name="body" data-rte="{toolbar: 'basic'}"><%= @post.body %></textarea><br /><br />
<input id="post_submit" name="save" type="submit" value="Save" />
</form>
<br />
